#login3{
    position: absolute;
    top: 40%;
    left: 33%;
    color: black;
    font-size: 1.3em; 
}
#register3{
    position: absolute;
    top: 40%;
    left: 33%;
    color: black;
    font-size: 1.3em;
}